h2 {
  margin: 1rem 0;
}

.subHeader {
  font-size: 1rem;
  font-weight: 500;
  color: #ccd5ae;
}

.label {
  display: block;
  margin: 0.5rem 0rem;
  color: #1d3557;
  font-size: 1rem;
  font-weight: 600;
}

.editPlantFormInput {
  display: block;
  width: 85%;
  min-width: 85%;
  -webkit-appearance: none;
  padding: 0.3rem 1rem;
  background-color: white;
  border: 1px solid gray;
  margin: 0.5rem 0rem 0.8rem;
  border-radius: 0.25rem;
  font-size: inherit;
  height: 2rem;
}

.submitBtn {
  display: block;
  width: 100%;
  border-radius: 0.2rem;
  border: 1.5px solid #54808b;
  padding: 0.5rem 0.4rem;
  background-color: #54808b;
  color: white;
}

.submitBtn:active {
  background-color: white;
  background-color: #7ceece;
}

.backBtn {
  display: block;
  width: 100%;
  border-radius: 0.2rem;
  border: 1.5px solid rgb(202, 200, 200);
  padding: 0.5rem 0.4rem;
  background-color: white;
  color: black;
  margin-top: 0.5rem;
}

.backBtn:active {
  background-color: #7ceece;
  color: white;
}
