.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 37% 1fr 0.8fr 22% 6%;
  align-self: flex-start;
}

.grid-item {
  font-weight: bold;
  font-size: 0.8rem;
  color: #457b9d;
  /* border-bottom: 2px solid #7ceece; */
  display: flex;
  align-items: center;
  /* background-color: white; */
}

.grid-item-2,
.grid-item-3,
.grid-item-4 {
  text-align: center;
  justify-content: center;
}
